<div>
    <h1 class="mt-4" style="text-align: center;font-weight: lighter;font-size: 60px;">Buisness that uses <span style="color: white;"> Podium...</span></h1>
</div>
<div class="form-outline mb-4 mt-4" style="padding-left: 30px;padding-right: 30px;">
    <input type="text" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Search" ng-model="test"/>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 mt-4" ng-repeat="x in names | filter:test">
        <div class="card border-white">
            <div class="card-header" >{{x}}</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card 
                    title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
  </div>
</div>
 

 